body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: white;
}
.about-section {
    padding: 20px 40px;
    text-align: center;
}

.about-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #1DB954;
}

.about-section p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.video-section {
    text-align: center;
    padding: 40px 20px;
}

.video-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.video-section video {
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
}

.audio-section {
    text-align: center;
    padding: 40px 20px;
}

.audio-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.audio-section audio {
    margin-top: 20px;
}

.map-section {
    padding: 40px 20px;
    text-align: center;
}

.map-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.map-container iframe {
    width: 80%;
    height: 400px;
    border: none;
    border-radius: 10px;
}

footer {
    background-color: #282828;
    padding: 40px;
    text-align: center;
    color: #b3b3b3;
}

footer a {
    color: #b3b3b3;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: white;
}