body{
    background-image:url("contact.jpg");
    background-size: cover;
    text-align: center;
    justify-content: center;
    display:flex;
    align-items: center;
    height:300px;
}
button{
height:20px;
background-color: greenyellow;
}
form{
margin:10px;
justify-content: center;
align-items: center;
text-align: center;
width:400px;
}
label{
margin:10px;
font-size: 18px;
}
input,textarea{
width:200px;
height:20px;
margin: 10px;
text-align: center;
}
.div{
margin:10px;
display:block;

}