body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);}

.navbar {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
    justify-content: space-between;
}
.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #1DB954;
   
}
.links{
    margin-left: 600px;
}
.navbar nav a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0px 15px;
    font-size: 20px;
}
.navbar .actions button {
    background-color: #1DB954;
    border: none;
    color: var(--secondary-color);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    
    border-radius: 50px;
}

.main {
    text-align: center;
    padding: 20px 20px;
    background-image: url('https://www.spotify.com/static/home/browse-f17d104f2255896276bcf1a52b85b36d.png');
    background-size: cover;
    background-position: center;
    height: 210px;
}

.main h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.main p {
    font-size: 24px;
    margin-bottom: 30px;
}

.main button {
    background-color: #1DB954;
    border: none;
    color: var(--secondary-color);
    padding: 15px 40px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
}
.playlists h2 {
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
}

.playlist-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    height: 300px;
    padding: 20px;
    margin-bottom: 20px;
}
.a {
    background-color: #181818;
    border-radius: 10px;
    padding: 20px;
    width: 95%;
    text-align: center;
}
footer {
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
    color: var(--secondary-color);
}
footer a {
    color: var(--secondary-color);
    text-decoration: none;
    margin:7px 7px;
}
footer a:hover {
    color: var(--secondary-color);
}
a{
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 20px;
    background-size: cover;
    border-radius:10px ;
}
  a:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out; 
  }
:root{
    --primary-color:#000106;
    --secondary-color:#fff;
}
.dark-theme{
    --primary-color:#fff;
    --secondary-color:#000106;
}
.mode input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}
.mode .slider {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.4s;
}
.mode .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: transform 0.4s;
    border-radius: 50%;
}
.mode input:checked + .slider {
    background-color: #66bb6a;
}
.mode input:checked + .slider:before {
    transform: translateX(26px);
}
.mode .slider {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
